
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
      url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
        format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
      url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff)
        format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"),
      url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff)
        format("woff");
  }
  
  body {
    background-color: #fefeff;
    color: #333;
    font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
  }
  body,
  a,
  a:hover,
  a:focus,
  caption {
    color: #333;
  }
  a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  .hidden,
  span.type.unknown {
    display: none;
  }
  #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #ff2d17;
  }
  #loader img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  h1 {
    color: #ff8069;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1em;
  }
  
  h2 {
    background-color: #ffffff;
    color: #ec823b;
    font-size: 1.5em;
    font-weight: 700;
    display: inline;
    margin: 0 0 0.5em;
    position: absolute center;
    top: -0.75em;
    z-index: 999;
    font-family: Calibri;
  }
  
  h3 {
    display: inline-block;
    font-size: 1em;
    line-height: 2;
    width: 3.875em;
    margin: 0 1em;
  }
  h3::after,
  h4::after {
    content: ":";
  }
  h4 {
    font-size: 0.875em;
    font-weight: 700;
    text-align: center;
  }
  table,
  tbody,
  caption,
  td,
  th {
    display: block;
    text-align: center;
  }
  article {
    background-color: #ffffff;
    width: 64em;
    padding: 1.25em;
    margin: 1em auto;
  }
  article section {
    border: 0.0625em solid #dedede;
    padding: 1.25em 1em 1em;
    margin: 0 0 1.25em;
    position: relative;
  }
  .button {
    background-color: #E26348;
    color: #f0f0f0;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    position: absolute;
    width: 1.875em;
  }
  .button:hover,
  .button:focus {
    color: #f0f0f0;
    text-decoration: none;
  }
  #team #randomize {
    left: 1em;
    top: 9.875em;
  }
  #team .button {
    top: 9.875em;
    right: 1em;
  }
  #options .button {
    top: 1.5em;
    right: 2em;
  }
  #filters .more {
    padding: 0 0 0 5.875em;
  }
  .filter {
    display: inline-block;
    margin: 0 0.5em 1em;
  }
  .filter label {
    margin: 0 0.5em 0 0;
    width: 6em;
    text-align: center;
  }
  input[type="search"] {
    border: 0;
    padding: 0.428em;
    line-height: 1.428;
    width: 10em;
    font-size: 0.875em;
  }
  ul.picked,
  ol.picker {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    clear: left;
  }
  ul.picked {
    width: 51.75em;
    margin-bottom: 1.25em;
  }
  ol.picker {
    width: 58em;
  }
  ul.picked li,
  ol.picker li {
    display: inline-block !important;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 1.5em;
    padding: 0.4375em 0.125em;
    margin: 0.3125em;
  }
  ul.picked li {
    border-radius: 3.5625em;
    padding: 0;
    border: none;
    height: 10.25em;
    vertical-align: top;
  }
  ul.picked li:not(.free) {
    cursor: no-drop;
  }
  ul.picked li figure {
    border-width: 0.125em;
    border-style: solid;
    border-radius: 3.5625em;
    width: 6em;
    margin: 0 auto;
  }
  ul.picked li .info {
    border-radius: 0.625em;
    width: 8em;
    margin-top: 0.5em;
    padding: 0.25em;
    text-align: center;
  }
  ul.picked li .info.unknown,
  ul.picked li .info.unknown1 {
    line-height: 4;
  }
  ul.picked li .info.unknown .name,
  ul.picked li .info.unknown1 .name {
    margin: 0;
  }
  ul.picked li .info .name {
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    margin: 0 0 0.5em;
  }
  ul.picked li .info .type {
    line-height: 1.125;
  }
  ol.picker li {
    cursor: pointer;
    vertical-align: middle;
  }
  ol.picker li:hover {
    background-image: none;
  }
  ol.picker li.up {
    padding: 0.3125em 0.125em 0.5625em;
  }
  ol.picker li.hidden,
  ol.picker li.filtered,
  ol.picker li.picked {
    display: none !important;
  }
  .more table {
    width: 33.75em;
    margin: 1.25em auto 0;
  }
  .more table tr {
    display: inline-block;
    box-sizing: content-box;
    width: 3.125em;
    padding: 0.3125em;
    cursor: default;
    border-radius: 1em;
  }
  .more table tr.warning {
    color: #d2304d;
    background: rgba(210, 48, 77, 0.2);
    font-weight: 700;
  }
  .more table caption::before {
    content: "◉";
    display: inline-block;
    margin: 0 0.5em 0 0;
    color: #ff2d17;
  }
  #team-immunities caption::before {
    content: "╳";
    color: #d3a27a;
  }
  #team-resistances caption::before {
    content: "▲";
    color: #13886b;
  }
  span.type,
  .type th {
    background-image: url(../images/select/types.png);
    background-repeat: no-repeat;
    background-position: 0 -72px;
    display: block;
    width: 3.125em;
    height: 1.125em;
    text-indent: -999em;
  }
  span.type {
    display: inline-block;
  }
  span.type.fighting,
  .type.fighting th {
    background-position: 0 0;
  }
  span.type.fire,
  .type.fire th {
    background-position: 0 -18px;
  }
  span.type.flying,
  .type.flying th {
    background-position: 0 -36px;
  }
  span.type.grass,
  .type.grass th {
    background-position: 0 -54px;
  }
  span.type.water,
  .type.water th {
    background-position: 0 -90px;
  }
  span.type.bug,
  .type.bug th {
    background-position: -50px 0;
  }
  span.type.electric,
  .type.electric th {
    background-position: -50px -18px;
  }
  span.type.ghost,
  .type.ghost th {
    background-position: -50px -36px;
  }
  span.type.ground,
  .type.ground th {
    background-position: -50px -54px;
  }
  span.type.poison,
  .type.poison th {
    background-position: -50px -72px;
  }
  span.type.rock,
  .type.rock th {
    background-position: -50px -90px;
  }
  span.type.dark,
  .type.dark th {
    background-position: -100px 0;
  }
  span.type.dragon,
  .type.dragon th {
    background-position: -100px -18px;
  }
  span.type.fairy,
  .type.fairy th {
    background-position: -100px -36px;
  }
  span.type.ice,
  .type.ice th {
    background-position: -100px -54px;
  }
  span.type.psychic,
  .type.psychic th {
    background-position: -100px -72px;
  }
  span.type.steel,
  .type.steel th {
    background-position: -100px -90px;
  }
  

  footer {
    font-size: 0.75em;
    text-align: right;
  }
  .links a {
    display: inline-block;
    padding: 0 0.375em;
    border-radius: 0.25em;
    background: #f0f0f0;
    color: #f0f0f0;
  }
  .multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .multiselect-container .input-group {
    margin: 5px;
  }
  .multiselect-container > li {
    padding: 0;
  }
  .multiselect-container > li > a.multiselect-all label {
    font-weight: 700;
  }
  .multiselect-container > li.multiselect-group label {
    margin: 0;
    padding: 3px 20px;
    height: 100%;
    font-weight: 700;
  }
  .multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer;
  }
  .multiselect-container > li > a {
    padding: 0;
  }
  .multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px;
  }
  .multiselect-container > li > a > label.radio,
  .multiselect-container > li > a > label.checkbox {
    margin: 0;
  }
  .multiselect-container > li > a > label > input[type="checkbox"] {
    margin-bottom: 5px;
  }
  .filter .btn {
    padding: 10px 3px;
  }
  .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .form-inline .multiselect-container label.checkbox,
  .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
  }
  .form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
  .form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0;
  }
  .btn {
    border: 0px !important;
  }
  #copy-url {
    font-size: 0.75em;
    margin: 2em 0 0;
  }
  #copy-url input {
    width: 73.667em;
    padding: 0.125em;
    border: 0.0833em solid #dedede;
    margin: 0 0.5em 0 0;
  }
  #copy-url a {
    background-color: #fafafa;
    color: #f0f0f0;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    width: 5em;
  }
  #exclude-type-filter {
    background-color: red;
  }
  
  
  
  
  /* original website css */
  .header_section {
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  nav.navbar.navbar-expand-lg {
    padding: 10px 0;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #f7f6f7;
    font-family:Chalkduster, fantasy;
    text-align: center;
  
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#FFCC00;
  }
  
  /* .nav-link-now {
    padding: 0px 20px;
    color: #f12832;
    text-align: center;
  } */
  
  .nav-item {
    /* border: 10px solid transparent; */
    background: url(../images/pokeball.png);
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .top_container {
    position: relative;
  }
  
  .top_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/hero-bg1.png);
    background-size: 100% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .sub_page .top_container::before {
    background-color: #ff3b1f;
    /* background-image: none; */
    background-image: url(../images/navbar5.jpg);
    /* background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%; */
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
  
  .top_container::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 20%;
    left: 6%;
  
  }
  
  .sub_page .top_container::after {
    display: none;
  }
  
  .navbar-brand img {
    width: 25px;
    margin-right: 7px;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand span {
    font-size: 22px;
    font-weight: 700;
    font-family:Comic Sans MS, Comic Sans, cursive;
    color: #fefefe;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 40px;
  }
  
  
  /* common style for some sections */
  .common_style > section {
    padding: 50px 0;
  }
  
  .common_style .row {
    align-items: center;
  }
  
  .common_style h5 {
    font-weight: 600;
    color: #151516;
  }
  
  .common_style p {
    font-weight: 600;
    color: #4e4f50;
    margin: 30px 0 50px 0;
  }
  
  .common_style img {
    width: 100%;
  }
  /* end common style */
  
  
  
  /* chord css */
  /* Chrod */
  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
  }
  
  #container {
    height: 500px;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
 
  

  footer {
    font-size: 0.75em;
    text-align: right;
  }
  .links a {
    display: inline-block;
    padding: 0 0.375em;
    border-radius: 0.25em;
    background: #f0f0f0;
    color: #f0f0f0;
  }
  .multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .multiselect-container .input-group {
    margin: 5px;
  }
  .multiselect-container > li {
    padding: 0;
  }
  .multiselect-container > li > a.multiselect-all label {
    font-weight: 700;
  }
  .multiselect-container > li.multiselect-group label {
    margin: 0;
    padding: 3px 20px;
    height: 100%;
    font-weight: 700;
  }
  .multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer;
  }
  .multiselect-container > li > a {
    padding: 0;
  }
  .multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px;
  }
  .multiselect-container > li > a > label.radio,
  .multiselect-container > li > a > label.checkbox {
    margin: 0;
  }
  .multiselect-container > li > a > label > input[type="checkbox"] {
    margin-bottom: 5px;
  }
  .filter .btn {
    padding: 10px 3px;
  }
  .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .form-inline .multiselect-container label.checkbox,
  .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
  }
  .form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
  .form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0;
  }
  .btn {
    border: 0px !important;
  }
  #copy-url {
    font-size: 0.75em;
    margin: 2em 0 0;
  }
  #copy-url input {
    width: 73.667em;
    padding: 0.125em;
    border: 0.0833em solid #dedede;
    margin: 0 0.5em 0 0;
  }
  #copy-url a {
    background-color: #fafafa;
    color: #f0f0f0;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    width: 5em;
  }
  #exclude-type-filter {
    background-color: red;
  }
  
  
  
  
  /* original website css */
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Raleway", sans-serif;
    background-color: #fefeff;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
  .call_to-btn {
    display: inline-block;
    padding: 15px 60px;
  
    border-radius: 100px;
    font-size: 20px;
    background-color: #ffd038;
    color: #262627;
    font-weight: 600;
    transition: all 0.3s ease 0s;
  }
  
  .hero_section .call_to-btn {
    width: 255px;
    position:relative;
    left:60px;
  
  }
  
  .call_to-btn img {
    width: 18px;
    margin-left: 10px;
  }
  
  .btn_on-hover {
    transition: all 0.3s ease 0s;
  }
  
  .call_to-btn:hover,
  .btn_on-hover:hover {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    transform: translateY(-7px);
  }
  
  .main-heading {
    color: #082465;
    font-weight: bold;
    text-align: center;
  }
  /*header section*/
  .header_section {
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  nav.navbar.navbar-expand-lg {
    padding: 10px 0;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #f7f6f7;
    font-family:Chalkduster, fantasy;
    text-align: center;
  
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#af2553;
  }
  
  /* .nav-link-now {
    padding: 0px 20px;
    color: #f12832;
    text-align: center;
  } */
  
  .nav-item {
    /* border: 10px solid transparent; */
    background: url(../images/paula.png);
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .top_container {
    position: relative;
  }
  
  .top_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/shakespeare.png);
    background-size: 100% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .sub_page .top_container::before {
    background-color: #be8e77;
    /* background-image: none; */
    background-image: url(../images/marie.png);
    /* background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%; */
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
  
  .top_container::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 20%;
    left: 6%;
  
  }
  
  .sub_page .top_container::after {
    display: none;
  }
  
  .navbar-brand img {
    width: 25px;
    margin-right: 7px;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/plume.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand span {
    font-size: 22px;
    font-weight: 700;
    font-family:Comic Sans MS, Comic Sans, cursive;
    color: #fefefe;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/plume.png);
    background-size: 40px;
  }
  
  /*end header section*/
  
  /* common style for some sections */
  .common_style > section {
    padding: 50px 0;
  }
  
  .common_style .row {
    align-items: center;
  }
  
  .common_style h5 {
    font-weight: 600;
    color: #151516;
  }
  
  .common_style p {
    font-weight: 600;
    color: #4e4f50;
    margin: 30px 0 50px 0;
  }
  
  .common_style img {
    width: 100%;
  }
  /* end common style */
  
  
  
  /* chord css */
  /* Chrod */
  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
  }
  
  #container {
    height: 500px;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
  #csv {
    display: none;
  }
  